$body-bg: #fce4ec;

$theme-colors: (
  "primary": #e91e63,
  "success": #ff1744,
  "info": #d81b60,
  "warning": #9c27b0,
  "danger": #f44336,
  "light": #f06292,
  "dark": #ff4081
  );

  .navbar-brand {
    font-family: 'Pacifico', cursive;
  }